/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');

body{
    box-sizing: border-box;
    background-color: #FAFAFA !important;
    margin: auto;
    font-family: 'Poppins' !important;
}

/* navigation */
nav{
    padding-top: 15px;
    margin-top: 60px;
}

.nav-logo{
    font-weight: 800;
    font-family: 'Nunito' !important;
    text-align: center;
    text-decoration: none;
    color: #232631;
}
#logo{
    margin-bottom: 4px;
    margin-right: 10px;
}

li .material-icons{
    font-size: .98em;
    font-weight: 600;
}

ul li{
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #232631;
}

.search{
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #6e6d6d !important;
}
.search-icon{
    position: absolute;
    top: 12%;
    left: 66.3%;
}
li:hover{
    border-bottom: 2px solid #5A4FCF;
    transition: .1s ;
    cursor: pointer;
    padding-bottom: 0;
}
.form-control{
    border: none;
    border-radius: 100px;
    padding: .80rem !important;
    border-radius: 12px !important;
    width: 250px !important;
}
.login{
    padding: 12px;
    width: 100px;
    border:none;
    position: absolute;
    right: 10%;
    border-radius: 12px;
    background-color: #5a4fcf10;
    color: #5A4FCF;
    font-family: 'Poppins';
    font-weight: 600;
}

/* slider */
.slider{
    margin: auto;
    border-radius: 24px;
    margin-top: 50px;
}
header .card{
    width: 22rem;
    height: 18.5rem;
    z-index: 100;
    border-radius: 24px;
    position: absolute;
    bottom: 20%;
    left: 4%;  
}
header .card-body{
    margin: 20px;
    line-height: 35px;
}
.rating{
    color: gold;
}
header .card-title{
    color: #232631;
    font-weight: 600;
}
header .card-subtitle{
    font-weight: 600;
}
header .card-text{
    color: #656565;
}

.card-link-reservation a {
    padding: 20px;
    background-color: #FDC886;
    text-decoration: none;
    border-radius: 12px;
    font-weight: 600;
    color: #232631;
    font-size: 16px;
   
}
.card-link a:hover{
    color: #5A4FCF;
}
.card-info span{
    text-decoration: none;
    font-weight: 400;
    color: #232631;
    margin-left: 10px;
}

/* section benerfits */
.benefits .special{
    color: #5A4FCF !important;
    font-weight: 500 !important;
  
}
.benefits h5{
    color: #232631;
}
.card{
    padding: 9.5px;
    width: 20rem;
    margin: 10px;
    border-radius: 15px !important;
}
.benefit-cards a{   
    color: #232631;
}

.benefits .card-icons{
    margin: auto;
    width: 80px;
    height: 85px;
    background-color: rgba(253, 200, 134, .15);
    margin-top: 10px;
}
.card-icons .icon{
    margin-top: 12px;
    margin-left: 10px;
}
.shining-icon{
    margin-left: 18px;
}

.benefits h6{
    color: #232631;
}
.benefits p{
    color: #656565;
}
.card-link-details:hover{
    background-color: #FDC886;
    border-radius: 10px;
    padding: 20px;
    color: #232631;
    transition: .4s;
}
/* top-restaurant section */
.top-restaurant{
    margin-top: 50px;
}
.top-restaurant .top-featured{
    line-height: 200%;
    margin: auto;
}
.top-restaurant p{
    color: #5A4FCF;
}
.top-restaurant h5{
    font-size: 28px;
    color: #232631;
    font-weight: 600;
}
.top-restaurant .opinion{
    color: #656565;
    line-height: 150%;
}
.top-restaurant a{
    padding: 15px;
    font-size: 16px;
    background-color: #FDC886;
    color:#232631;
    margin-top: 50px;
    border-radius: 12px;
    font-weight: 600;
    text-align: center;
}
.top-restaurant .img-restaurant{
    margin-left: 120px;
    margin-top: 50px;
}
.top-restaurant1 .card{
position: absolute;
bottom: -65rem;
left: 35rem;
padding: 5px;
width: 22rem;
border-radius: 24px;
}
.top-restaurant1 .card-body{
    line-height: 40%
}
.top-restaurant1 h6{
    color: #232631;
}
.top-restaurant1 .location{
    margin-left: -6px;
}
.top-restaurant1 .visit{
    width: 37px;
    padding: 5px;
    background-color:#FDC886 ;
    border-radius: 10px;
    position: absolute;
    right: 8%;
    top: 30%;
}
.visit img{
    margin-left: 2px;
}
